@import "tailwindcss";

:root {
  --color-primary: #4f46e5;
  --color-secondary: #ec4899;
  --color-background: #ffffff;
  --color-search: #f9f9f9;
  --color-white: #ffffff;
  --color-black: #141414;
  --color-text: #222222;
  --color-red: #dc0b21;
  --color-red-2: #df1a29;
  --card-background: #939393;
}

.dark {
  --color-primary: #4338ca;
  --color-secondary: #db2777;
  --color-background: #111827;
  --color-text: #f3f4f6;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

@layer components {
  .btn-black {
    @apply bg-[var(--color-black)] text-[var(--color-white)] uppercase text-base font-medium px-5 py-2.5 hover:bg-[var(--color-black)]/75 hover:cursor-pointer;
  }
}
